<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="home.css">
    <title>astrocactus</title>
</head>
<body >
    
    <video autoplay muted loop id="myVideo">
        <source src="production_id_4887279 (2160p).mp4" type="video/mp4">
        
      </video>
    
  
      <div class="container pullUp" style="margin-left: 30%;" >
        <ul>
            
            <b>
            <li><a  href="mainpage.html">Home</a></li>
            <li><a href="explorepage.html">Explore</a></li>
            <li><a href="signin.html">Login</a></li>
            <li><a href="graph.html">Analysis</a></li>
          </b>
          </ul>
      </div>
  
     

        <table>
            <tr>
                <td>
        <section id="i">
            <div class="content">
                <b>
              <h2> himalayan flora</h2>
              <h2> himalayan flora</h2>
              </b>
              </div>
              <div style="margin-left: -230%;">
              <button class="explore-button" style="position: relative;margin-top: 95px;" onclick="location.href='explorepage.html'">
               Add Flora</button>
            </div>
           <div>
            
           </div>
          </section>
        </td>
    </tr>
     </table>
     
   
     
    
    
 
      
   

    
</body>
</html>