<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flower Export Rates Bar Graph</title>
  <link rel="stylesheet" href="graph.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <style>
    body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Raleway', sans-serif;
    }

    
  </style>
</head>
<body>
  <header>
    <ul><b>
      <li><a href="mainpage.html">Home</a></li>
      <li><a href="explorepage.html">Explore</a></li>
      <li><a href="signin.html">Login</a></li>
      <li><a href="graph.html">Analysis</a></li>
      <li><a href="tables_display.html">Tables</a></li></b>
    </ul>
  </header>
  <br><br><br>
  <canvas id="flowerExportChart"></canvas><br><br><br><br><br><br>
  <canvas id="costPerHectareChart"></canvas>
  <script src="graph.js"></script>
</body>
</html>
